<!-- <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side" position="end">
    <mat-nav-list>
      <a mat-list-item routerLink="home">Inicio</a>
      <a mat-list-item routerLink="courses">Cursos</a>
      <a mat-list-item routerLink="students">Alumnos</a>
      <a mat-list-item href="...">Inscripciones</a>
    </mat-nav-list>
  </mat-drawer> -->
  <div [@slideInOut] class="right-sidenav-content">
    <!-- tu contenido aquí -->
    <h2 mat-dialog-title>
    {{editingCourse ? 'Editando curso' + editingCourse.nombre : 'Crear curso'}}
    </h2>
    <mat-dialog-content>
        <form style="display: flex; flex-direction: column;" [formGroup]="courseForm">
    
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" matInput>
                <mat-error>El campo es requeridos</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="fechaInicio" placeholder="Fecha inicio">
                <input matEndDate formControlName="fechaFin" placeholder="Fecha Fin">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            
                <!-- @if (range.controls.start.hasError('matStartDateInvalid')) {
                <mat-error>Invalid start date</mat-error>
                }
                @if (range.controls.end.hasError('matEndDateInvalid')) {
                <mat-error>Invalid end date</mat-error>
                } -->
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-dialog-close mat-button>Cancelar</button>
        <button mat-button (click)="onSubmit()">Guardar</button>
    </mat-dialog-actions>
  </div>
  